<h2>Default Pipes</h2>

<div>
    <label>Name: </label><input #name (keyup)="change(name.value)" type="text" />
    <h4>In Default lowercase pipe:</h4>
    <pre>'{{ value | lowercase }}'</pre>

    <h4>In Default uppercase pipe:</h4>
    <pre>'{{ value | uppercase }}'</pre>

    <h4>In Custom uppercase pipe:</h4>
    <pre>'{{ value | customUpperCasepipe }}'</pre>

    <h4>In Default Date pipe</h4>
    <pre>Without any pipe: {{ todaysDate}}</pre>
    <pre>with default pipe: {{ todaysDate | date }}</pre>
    <pre>with default pipe short format: {{ todaysDate | date:'short' }}</pre>
    <pre>with default pipe short date format: {{ todaysDate | date:'shortDate' }}</pre>
    <pre>with default pipe short date DD MM YYYY format: {{ todaysDate | date:'dd/MM/yyyy' }}</pre>
</div>

    <h4>In Decimal pipe:</h4>
    <pre>'{{ 3.6123 | number:'1.0-0' }}'</pre>

    <h4>In percent pipe:</h4>
    <pre>'{{ 0.259 | percent }}'</pre>
    <pre>'{{ 1.34956 | percent:'4.6' }}'</pre>

<h2>Async Pipe</h2>

<label>Total No of items in array: {{totalStudents | async}}</label>
<ul>
    <li *ngFor="let stu of students">
        {{stu}}
    </li>
</ul>